.max-width{
    max-width: 1600px;
    margin: 0px auto;
}

.max-width2{
    max-width: 1100px;
    margin: 0px auto;
}

.absolute-center{
    display: flex;
    align-items: center;
    justify-content: center;
}