.header-container{
   display: flex;
   align-items: center;
}

.header-right{
   display: flex;
   flex:1
}

.logo-title-container{
    margin-right: 36px;
}

.product-search{
    width: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.product-search-input{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 17px;
}


/* user  */
.user-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
}

.user-details li{list-style: none;}


.user-seller{
    display: flex;
}
.user-sign-in{
    display: flex;
}
.cart-user{
    display: flex;
}
